#sub-admin-section {
  padding: 100px 0 20px 80px;
  background-color: #f5f5f5;
  height: 100vh;
}

.sub-admin-header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.doctor-btn {
  display: flex;
  gap: 7px;
}

.sub-admin-header button {
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.doctor-search-btn {
  background-color: #efecec;
  color: black;
}

.add-user-btn {
  background-color: #498b9c;
  color: white;
  justify-content: center;
  gap: 5px;
}

.sub-admin-header img {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

.sub-admin-box {
  background-color: white;
  /* padding: 20px; */
  border-radius: 8px;
  margin: 14px 20px 0 0;
}

.sub-admin-table {
  width: 100%;
}

.sub-admin-table thead {
  background-color: #f8f8f8;
  height: 50px;
  border-bottom: 1px solid #f1f1f1;
}

.sub-admin-table thead th {
  font-size: 14px;
  font-weight: 500;
  color: #9494a2;
  padding: 15px;
}

tbody td {
  padding: 12px 15px;
}

/* drop down active */

.select-menu {
  /* max-width: 130px; */
  color: #005c75;
  position: relative;
}

.select-menu .select-btn {
  display: flex;
  height: 40px;
  width: 120px;
  background: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #005c75;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu .options {
  position: absolute;
  width: 120px;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  color: #005c75;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-duration: 0.35s;
  animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 40px;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 4px;
  align-items: center;
  background: #fff;
  font-size: 13px;
  font-weight: 500;
}

.select-menu .options .option:hover {
  background: #bae8e873;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

.label-option {
  pointer-events: none;
  color: gray;
  font-weight: bold;
  background-color: #f0f0f0;
}

/* Default dropdown opening downwards */
.options-down {
  top: 100%;
  margin-top: 10px;
  animation-name: fadeInDown;
}

/* Dropdown opening upwards when needed */
.options-up {
  bottom: 100%;
  margin-bottom: 10px;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.admin-profile,
.doctor-profile {
  display: flex;
  align-items: center;
}

.admin-profile img,
.doctor-profile img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 0px 0px 15px 2px #d8d8d8;
  margin-right: 10px;
}

.admin-profile h5,
.doctor-profile h5 {
  margin: 0;
  font-size: 14px;
}

.admin-role {
  color: #005c75;
}

.admin-type,
.admin-role,
.doctor-email {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.doctor-email {
  color: #9494a2;
  font-size: 13px;
  font-weight: 400;
}
.delete-profile button {
  border: none;
  background: none;
  color: red;
  font-size: 14px;
  outline: none;
}
.delete-profile button:hover {
  text-decoration: underline;
}
.pagination-data {
  padding: 8px 0px 8px 15px;
}

/* add subadmin  */
.form_field .select-btn,
.form_field .options {
  width: 100%;
  height: auto;
  padding: 6px 10px;
  border: 1px solid #d1d3d6;
  border-radius: 6px;
  font-size: 12px;
  color: #2f2f2f;
  box-shadow: none;
  font-weight: 400;
}

.form_field .options {
  padding: 6px;
}

.form_field .options .option {
  height: auto;
  padding: 6px 10px;
  font-weight: 400;
}
