.modal-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.upload-profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-icon {
  font-size: 60px;
  color: #ccc;
}

.upload-text {
  margin-top: 6px;
  font-weight: 500;
  color: #666;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .row {
  display: flex;
  gap: 10px;
  display: flex;
  width: 213%;
} */

.input-fields input,
.input-fields select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 8px 10px;
  border-radius: 8px;
  justify-content: space-between;
  background: #fff;
}

.upload-label {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 12px;
}

.upload-btn {
  border: 2px dashed #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #555;
}

/* .upload-btn button {
  width: 100%;
  border: none;
  background: transparent;
} */

.availability-btn {
  width: 100%;
  background: #d4f2f5;
  color: #0a4f52;
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 8px;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.create-btn {
  width: 100%;
  background: #1f1f3f;
  color: white;
  border: none;
  padding: 12px;
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 12px;
}
