.inner-container form input {
  border: none;
  border-radius: 5px;
  outline: none;
  color: #2f2f2f;
  padding: 10px 18px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inner-container form input:focus {
  border-color: #005c75;
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgb(0 92 117 / 20%);
}

.inner-container form button {
  margin-top: 10px;
}

.back-login {
  display: block;
  color: #082433;
  font-weight: 600;
  margin-top: 8px;
}

.back-login i {
  margin-right: 5px;
}

.back-login:hover {
  opacity: 0.7;
}
